/* page structure */

html {
	background-color: #EEEEEE;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}

body {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0;
}

#head {
	flex: 0 1 auto;
	margin: 8px 8px 0 8px;
}

#content {
	flex: 1 1 auto;
	margin: 8px;
	overflow: auto;
}

#tail {
	flex: 0 1 auto;
	margin: 0 8px 8px 8px;
}


/* general elements */

h1.top-title {
	color: #92B372;
	text-align: center;
}
p.top-title {
	text-align: center;
	font-style: italic;
}


/* button style */
a.button {
	padding: .5em 1em .5em 1em;
	border-style: solid;
	border-width: 1px;
	border-color: #EEEEEE;
	display: inline-block;
	border-radius: 10px;
	margin: 2px;
	font-family: sans-serif;
}

a.button:link, a.button:visited {
	color: black;
}

a.button:hover {
	background-color: white;
	border-color: #CCCCCC;
}

a.button:active {
	border-color: #92B372;
	background-color: #92B372;
	color: white;
}

a.button-disabled {
	padding: .5em 1em .5em 1em;
	border-style: solid;
	border-width: 1px;
	border-color: #EEEEEE;
	display: inline-block;
	border-radius: 10px;
	margin: 2px;
	font-family: sans-serif;
	color: #CCCCCC;
	pointer-events: none;
} 


/* field style */
input.field {
	margin: 0;
	padding: 8px;
	font-family: sans-serif;
	color: black;
	background-color: white;
}

input.invalid {
	background-color: #FF7F7F;
}
