/* page structure */

html {
	background-color: #EEEEEE;
	position: absolute;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#head {
	flex: 0 1 auto;
	padding: 8px 8px 0 8px;
}

#content {
	flex: 1 1 auto;
	padding: 8px;
	overflow: auto;
}

#tail {
	flex: 0 1 auto;
	margin: 0 8px 8px 8px;
}


/* general elements */

h1.top-title {
	color: #92B372;
	text-align: center;
}
p.top-title {
	text-align: center;
	font-style: italic;
}


/* button style */
a.button {
	padding: .5em 1em .5em 1em;
	border-style: solid;
	border-width: 1px;
	border-color: #EEEEEE;
	display: inline-block;
	border-radius: 10px;
	margin: 2px;
	font-family: sans-serif;
}

a.button:link, a.button:visited {
	color: black;
}

a.button:hover {
	background-color: white;
	border-color: #CCCCCC;
}

a.button:active {
	border-color: #92B372;
	background-color: #92B372;
	color: white;
}

a.button-disabled {
	padding: .5em 1em .5em 1em;
	border-style: solid;
	border-width: 1px;
	border-color: #EEEEEE;
	display: inline-block;
	border-radius: 10px;
	margin: 2px;
	font-family: sans-serif;
	color: #CCCCCC;
	pointer-events: none;
} 


/* button style */
/*a.tool-button {
	padding: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #EEEEEE;
	display: inline-block;
	border-radius: 10px;
	margin: 2px;
}

a.tool-button:link, a.tool-button:visited {
	color: black;
}

a.tool-button:hover {
	background-color: white;
	border-color: #CCCCCC;
}

a.tool-button:active {
	border-color: #92B372;
	background-color: #92B372;
	color: white;
}

a.tool-button-disabled {
	padding: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #EEEEEE;
	display: inline-block;
	border-radius: 10px;
	margin: 2px;
	color: #CCCCCC;
	pointer-events: none;
}*/


/* field style */
input.field {
	margin: 0;
	padding: 2px;
	font-family: sans-serif;
	color: black;
	background-color: white;
}

input.invalid {
	background-color: #FF7F7F;
}

label.field {
	padding-right: .5em;
}

/* structured styles */
.header-label {
	margin: 3px;
	padding: .5em .5em .5em .5em;
	font-weight: bold;
}


/* tool icons */
.headerbar-icon {
	font-size: 1.5em;
}



/* header */
.header {
}

/* InteractiveView */
.interactive-view {
	background-color: white;
	border-style: inset;
	border-width: 1px;
	overflow: auto;
	box-sizing: content-box;
}
