/* Default CSS implementation */

html {
	background-color: #EEEEEE;
}

.menu button {
	border: none;
}

div.menu {
	background-color: #EEEEEE;
}

.hidden {
display: none !important;
}

/* Modal */
.modal-content {
	padding: 4px 0 4px 0;
	border: 1px solid #888;
}

.modal {
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.dropdown-content {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: #EEEEEE;
}
